.node{
    -fx-pref-width:50px;
    -fx-background-color:#44B449;
    -fx-background-radius:50px;
    -fx-pref-height:50px;
    -fx-text-fill:white;
    -fx-border-color:WHITE;
    -fx-border-radius: 50px;
    -fx-border-width: 0px; //originally 4px, but ripple effect not playing nice
    -fx-button-type: RAISED;
}